<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Testing</string>
	<key>NSLocationUsageDescription</key>
	<string>Thanks!</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Thanks!</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Thanks</string>
	<key>NSCameraUsageDescription</key>
	<string>Thanks!</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.supabase.user-management://login-callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>foodieApp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
